.phone-position {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}
.android-phone {
    background: url(../img/android/android.png) no-repeat;
    width: 317px;
    height: 587px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.rotate-androind {      
    transform: rotate(-90deg) translate(0px, -128%) scale(2);
}
.rotate-components {
    transform: rotate(90deg) translate(116px, 70px);
    width: 463px !important;
    height: 230px !important;
    transition: .5s;
}
.phone-bg {
    width: 276px;
    height: 463px;
    overflow: hidden;
    margin-top: 3px;
    margin-right: 1px;
}
.bg-0 {
    background: url(https://i.imgur.com/PSr4n0g.png) no-repeat center;
    background-size: cover;
}
.bg-1 {
    background: url(https://i.ytimg.com/vi/c_3Rmwmzs4c/maxresdefault.jpg) no-repeat center;
    background-size: cover;
}
.bg-2 {
    background: url(https://images3.alphacoders.com/841/841112.jpg) no-repeat center;
    background-size: cover;
}
.bg-3 {
    background: url(https://i.pinimg.com/originals/17/95/a8/1795a8ad3bef7f77eec1e50b89dcab74.jpg) no-repeat center;
    background-size: cover;
}
.bg-4 {
    background: url(https://i.pinimg.com/originals/b6/d7/34/b6d734ddaa97170f4ca5e2e93c38d053.jpg) no-repeat center;
    background-size: cover;
}
.bg-5 {
    background: url(http://i.imgur.com/megfG87.jpg) no-repeat center;
    background-size: cover;
}
.bg-6 {
    background: url(https://www.itl.cat/pngfile/big/63-635502_gta-5-live-wallpaper-gta-v-4k-background.jpg) no-repeat center;
    background-size: cover;
}
.bg-7 {
    background: url(https://www.ecopetit.cat/iconpics/f/13/133332/gta-5-city-wallpaper.jpg) no-repeat center;
    background-size: cover;
}
.android-content {
    width: 276px;
    height: 409px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
    overflow: hidden;
}
.rotate-components .android-content {
    width: inherit !important;
    height: inherit !important;
}
.rotate-components .m_keys_bar {
    width: auto;
    margin-top: -6px;
}
.rotate-components .uni-menu {
    height: 229px;
}
.rotate-components .u-li-menu {
    height: 183px;
}

.main-app-box{
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: 14px;
    margin-right: 15px;
    width: inherit;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.app-box {
    width: 46px;
    height: 49px;
    background-color: rgb(0, 0, 0, 0.35);
    border-radius: 5px;
    margin-right: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    transition: 0.3s;
}
.app-box:hover {
    background-color: rgb(0, 0, 0, 0.80);
}
.android-content .app-box:nth-child(4), .android-content .app-box:last-child {
    margin-right: 0px;
}
.android-content .app-box:nth-child(-n+4){
    margin-bottom: 20px;
}
.rotate-components .app-box {
    margin-right: 14px !important;
    margin-bottom: 0px !important;
    width: 40px;
    height: 41px;
}
.rotate-components .app-box:last-child {
    margin-right: 0px !important;
}
.app-icon {
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}    
.rotate-components .app-box .app-icon {
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}
.icons-settings {
    background: url(../img/android/icons/settings.png) no-repeat;
    background-size: 32px;
}
.icons-phone {
    background: url(../img/android/icons/telephone.png) no-repeat;
    background-size: 32px;
}
.icons-sms {
    background: url(../img/android/icons/sms.png) no-repeat;
    background-size: 32px;
}
.icons-gps {
    background: url(../img/android/icons/gps.png) no-repeat;
    background-size: 32px;
    /*filter: invert(100%);*/
}
.icons-cont {
    background: url(../img/android/icons/cont.png) no-repeat;
    background-size: 32px;
    /*filter: invert(100%);*/
}
.icons-apps {
    background: url(../img/android/icons/apps.png) no-repeat;
    background-size: 32px;
    /*filter: invert(100%);*/
}
.icons-fleeca {
    background: url(../img/android/icons/fleeca.png) no-repeat;
    background-size: 32px;
    /*filter: invert(100%);*/
}
.icons-maze {
    background: url(../img/android/icons/maze.png) no-repeat;
    background-size: 32px;
    /*filter: invert(100%);*/
}
.icons-blaine {
    background: url(../img/android/icons/blaine.png) no-repeat;
    background-size: 32px;
    /*filter: invert(100%);*/
}
.icons-pacific {
    background: url(../img/android/icons/pacific.png) no-repeat;
    background-size: 32px;
    filter: invert(100%);
}
.icons-invader {
    background: url(../img/android/icons/invader.png) no-repeat;
    background-size: 32px;
    /*filter: invert(100%);*/
}
.info-top {
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-size: 8px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 14px;
}
.icon-network{
    background: url(../img/android/icons/network.png) no-repeat;
    width: 12px;
    height: 7px;
    margin-right: 5px;
    margin-top: 1px;
}
.info-time-box {
    width: inherit;
    display: flex;
    flex-direction: row;
    margin-top: 29px;
}
.time-date {
    margin-right: auto;
    margin-left: 21px
}
.txt-time{
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-size: 36px;
}
.txt-date{
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-size: 10px;
}
.weather {
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-right: 16px;
    margin-top: 6px;
}

/*ANDROID*/
.topbar-andr {
    width: inherit;
    height: 17px;
    display: flex;
    /* background: #2d72c1; */
}
.bg-blue-andr {
    background: #000;
}
.topbar-andr .left-topbar {
    margin-left: auto;
    display: flex;
    align-items: center;    
}
.left-topbar .elements-bar {
    width: 20px;
    height: 20px;
    /* background: url(../img/android/icons/wifi.svg) no-repeat;
    filter: brightness(0) saturate(100%) invert(100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -4px
}
.left-topbar .battery-info {
    font-size: 12px;
    margin-right: 3px;
    font-family: "Roboto";
    color: #fff;
    margin-left: 4px;
}

.hoverable {
    cursor: pointer;
}

/*UMenu*/
.uni-menu {
    width: inherit;
    height: 409px;
    display: flex;
    flex-direction: column;
    
}
.u-title {
    height: 40px;
    display: flex;
    align-items: center;
    background: #212121;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
    z-index: 1;
}
.menu-list {
    width: 13px;
    height: 9px;
    /*background: url(../img/android/icons/menu.png) no-repeat;
    margin-left: 10px;*/
}
.u-texttittle {
    font-family: "RobotoMedium";
    color: #fff;
    font-size: 14px;
    margin-left: 15px;
}
.u-li-menu {
    width: inherit;
    height: 370px;
    background: #F2F2F2;
    overflow: scroll;
}
.umenu-family-box {
    width: inherit;
    margin-bottom: 8px;
    overflow: scroll;
    background: #fff;
}
.u-menu-l {    
    width: auto;
    display: flex;
    align-items: center;
    background: #fff;
    transition: 0.3s;
}
.u-menu-l.hoverable:hover {
    background: #4794eb26 !important;
}
.l-title {
    padding-left: 10px;
    min-height: 27px;
    width: 246px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.txt-title {
    font-family: "Roboto";
    margin-bottom: 2px;
    color: #3a3a3a;
    font-size: 12px;
}
.txt-lasttitle {
    font-family: "Roboto";
    color: #919191;
    font-size: 10px;
}
.u-l-arrow {
    width: 16px;
    height: 20px;
    background-size: 20px;
    background-position: center;
    background: url(../img/android/icons/arrow-menu.svg) no-repeat;
    margin-left: auto;
    transform: rotate(180deg);
    margin-right: 10px;
}
/* style chekbox */

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tg-list {
    text-align: center;
    display: flex;
    align-items: center;
}
.tg-list-item {
    margin: 0 2em;
}
h2 {
    color: #777;
}
h4 {
    color: #999;
}
.tgl {
    display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    outline: 0;
    display: block;
    width: 33px;
    height: 12px;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}
.tgl-light + .tgl-btn {
    background: #cecece;
    border-radius: 2em;
    padding: 0px;
    transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
    width: 18px;
    height: 18px;
    top: -3px;
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);

}
.tgl-light:checked + .tgl-btn {
    background: #4db6ac;
}
.tgl-ios + .tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    border: 1px solid #e8eae9;
}
.tgl-ios + .tgl-btn:after {
    border-radius: 2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 4px 0 rgba(0, 0, 0, .08);
}
.tgl-ios + .tgl-btn:hover:after {
    will-change: padding;
}
.tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
    padding-right: 0.8em;
}
.tgl-ios:checked + .tgl-btn {
    background: #86d993;
}
.tgl-ios:checked + .tgl-btn:active {
    box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
    margin-left: -0.8em;
}
.tgl-skewed + .tgl-btn {
    overflow: hidden;
    transform: skew(-10deg);
    backface-visibility: hidden;
    transition: all 0.2s ease;
    font-family: sans-serif;
    background: #888;
}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
    transform: skew(10deg);
    display: inline-block;
    transition: all 0.2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
}
.tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:active {
    background: #888;
}
.tgl-skewed + .tgl-btn:active:before {
    left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
    background: #86d993;
}
.tgl-skewed:checked + .tgl-btn:before {
    left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
    left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%;
}
.tgl-flat + .tgl-btn {
    padding: 2px;
    transition: all 0.2s ease;
    background: #fff;
    border: 4px solid #f2f2f2;
    border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
    transition: all 0.2s ease;
    background: #f2f2f2;
    content: "";
    border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
    border: 4px solid #7fc6a6;
}
.tgl-flat:checked + .tgl-btn:after {
    left: 50%;
    background: #7fc6a6;
}
.tgl-flip + .tgl-btn {
    padding: 2px;
    transition: all 0.2s ease;
    font-family: sans-serif;
    perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
    display: inline-block;
    transition: all 0.4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
    content: attr(data-tg-on);
    background: #02c66f;
    transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
    background: #ff3a19;
    content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
    transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
    transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
    transform: rotateY(0);
    left: 0;
    background: #7fc6a6;
}
.tgl-flip:checked + .tgl-btn:active:after {
    transform: rotateY(20deg);
}

/* style chekbox */

.block {      
    position: relative;    
}
.block::before,
.block::after {
    content: '';
    position: absolute; left: -20px;  top: 20px;   
    border: 20px solid transparent;	
    border-right: 80px solid #f00;
    border-radius: 180px;   
}
.block::after {
    border: 18px solid transparent;
    border-right: 70px solid #F2C255;
    top: 22px;
    left: -10px;    
}
.иконка {
    border-radius: 5px;
    background-color: rgb(0, 42, 80);
    position: absolute;
    left: 1588px;
    top: 632px;
    width: 46px;
    height: 49px;
    z-index: 79;
  }
  .top {
    border-radius: 50%;
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 886px;
    top: 108px;
    width: 60px;
    height: 60px;
    z-index: 35;
  }
.player-info-box {
    width: 100px;
    height: 100px;
    background: #fff;
}
.mobile-profile {
    display: flex;
    align-items: center;
    width: 276px;
    height: 60px;
    margin-left: 10px;
}
.mobile-profile .m-player-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*margin-left: 10%;*/
}
.mobile-profile .m-player-info {
    color: #3a3a3a;
    font-family: 'Roboto';
    margin-left: 6%;
}
.mobile-profile .m-email-player {
    font-size: 11px;
    margin-top: 2px;
}
.mobile-profile .m-name-player {
    font-family: 'RobotoBold';
}
.m_keys_bar{
    width: 276px;
    height: 37px;
    background: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m-sqr-bar {
    background: url(../img/android/icons/sqr-bar.svg) no-repeat;
    width: 13px;
    height: 13px;
}
.m-crl-bar {
    background: url(../img/android/icons/crl-bar.svg) no-repeat;
    width: 14px;
    height: 15px;
    margin-left: 64px;
    margin-right: 64px;
}
.m-trngl-bar {
    background: url(../img/android/icons/trngl-bar.svg) no-repeat;
    width: 14px;
    height: 15px;
}
.umenu-icon {
    width: 26px;
    height: 24px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.umenu-rov {
    display: flex;
    flex-direction: column;
}
.s-wifi {
    width: 21px;
    height: 19px;
    background: url(../img/android/icons/s-wifi.svg) no-repeat;
}
.s-display {
    width: 24px;
    height: 24px;
    background: url(../img/android/icons/s-display.svg) no-repeat;
}
.s-sound {
    width: 16px;
    height: 20px;
    background: url(../img/android/icons/s-sound.svg) no-repeat;
}
.s-apps {
    width: 24px;
    height: 24px;
    background: url(../img/android/icons/s-apps.svg) no-repeat;
}
.s-volume {
    width: 24px;
    height: 24px;
    background: url(../img/android/icons/s-volume.svg) no-repeat;
    filter: invert(69%) sepia(25%) saturate(765%) hue-rotate(125deg) brightness(87%) contrast(93%);
}
.s-bluetooh {
    width: 24px;
    height: 24px;
    background: url(../img/android/icons/s-bluetooh.svg) no-repeat;
}
.umenu-title-family {
    margin-top: 11px;
    margin-left: 16px;
    font-family: "RobotoMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #4DB6AC;
    margin-bottom: 7px;
}
.umenu-liner {
    width: 254px;
    height: 1px;
    background: rgba(0, 0, 0, 0.12);
}
.umenu-mini-box {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    padding: 10px 0px;
}