.license-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

.lic-box {
    width: 587px;
    height: 410px;
    background: url(../img/bg.png) no-repeat;
    outline: 2px dashed rgb(152, 152, 152, 0.2);
    border-width: 1.5px;
    outline-offset: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lic-in-box {
    display: flex;
    flex-direction: row;
}

.lic-in-box .lic-left {
    width: 207px;
    height: 345px;
    background: #fff url(../img/bg-white.png) no-repeat top;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.lic-in-box .lic-right {
    width: 293px;
    height: 345px;
    background: #2d2d2d;
    border-right: 16px solid #48b9f2;
    display: flex;
    flex-direction: column;
}

.lic-photo_player {
    width: 140px;
    height: 151px;
    z-index: 1;
    position: relative;
    margin-top: 75px;
}

.lic-photo_player .lic-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    border-bottom: 15px solid rgb(72, 185, 242);
}

.lic-right .lic-name {
    font-family: 'RobotoLight';
    font-size: 20px;
    color: #48b9f2;
    margin-top: 37px;
    margin-left: 19px;
}

.lic-right .lic-info {
    width: inherit;
    border-top: 1px solid rgb(255, 255, 255, 0.051);
    margin-top: 29px;
    font-family: 'RobotoThin';
}

.tsp-lic {
    margin-left: 19px;
}

.tsp-fff {
    margin-top: 35px;
}

.lic-grow {
    font-size: 11.75px;
    color: rgb(96, 96, 96);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.lic-white {
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.lic-first-inf {
    display: flex;
    flex-direction: row;
    margin-left: 19px;
    margin-top: 45px;
}

.tpc-right-ff {
    margin-right: 51px;
}

.big-letter {
    font-family: 'RobotoBold';
    font-size: 101.5px;
    text-transform: uppercase;
    color: rgba(96, 96, 96, 0.059);
    margin-left: auto;
    margin-top: -23px;
    margin-right: 10px;
}