/* body {
    background-color: brown;
}  */
.hud-main {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    /* z-index: -1; */
}
.hud-position-leftop {
    margin-right: auto;
    margin-bottom: auto;
    position: absolute;
}
.hud-position-rightbottom {
    margin-left: auto;
    margin-top: auto;
}

.hud-position-leftbottom {
    margin-right: auto;
    margin-top: auto;
}

.player-hud {
    display: flex;
    margin-bottom: 32px;
}

.phud-mic {
    width: 48px;
    height: 48px;
    background: rgb(0, 0, 0, 0.502);
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phud-mic .mic-img {
    background: url(../img/mic-off.png) no-repeat;
    width: 21px;
    height: 36px;
}

.phud-needs {
    width: 144px;
    height: 47.99px;
    background: rgb(0, 0, 0, 0.502);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.needs-box {
    display: flex;
    align-items: center;
}

.needs-box:last-child {
    margin-top: 10px;
}

.needs-box .img-drink {
    background: url(../img/drink.png) no-repeat;
    width: 12px;
    height: 15px;
    margin-right: 9px;
    margin-left: 4px;
}

.needs-box .img-eat {
    background: url(../img/eat.png) no-repeat;
    width: 19px;
    height: 15px;
    margin-right: 6px;
}

.liner-needs {
    width: 84px;
    height: 7px;
    background: rgb(71, 71, 71);
}

.color-liner {
    background: #48b9f2;
    height: inherit;
    transition-duration: 0.2s;
}

.needs-text {
    font-family: "RobotoLight";
    font-size: 9px;
    color: #fff;
    margin-left: 4px;
    width: 22px;
    text-align: left;
}

.phud-money {
    width: 188px;
    height: 48px;
    background: rgb(0, 0, 0, 0.502);
    margin-left: 2px;
    margin-right: 41px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.money-box {
    display: flex;
    align-items: center;
}

.money-box:last-child {
    margin-top: 6px;
}

.money-box .img-wallet {
    background: url(../img/wallet.png) no-repeat;
    width: 21px;
    height: 21px;
    margin-left: 12px;
    margin-right: 10px;
}

.money-box .img-credit-card {
    background: url(../img/credit-card.png) no-repeat;
    width: 21px;
    height: 15px;
    margin-left: 12px;
    margin-right: 10px;
}

.wallet-text {
    font-size: 15px;
    font-family: "RobotoLight";
    color: #48b9f2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 55px);
}

.credit-text {
    font-size: 15px;
    font-family: "RobotoLight";
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 55px);
}

.use-mic {
    filter: brightness(0) saturate(100%) invert(59%) sepia(82%) saturate(454%) hue-rotate(169deg) brightness(97%) contrast(96%);
}

.car-hud {
    display: flex;
    margin-bottom: 2px;
}

.elements-auto {
    width: 194px;
    height: 48px;
    background: rgb(0, 0, 0, 0.502);
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bak-oil {
    width: 188px;
    height: 48px;
    background: rgb(0, 0, 0, 0.502);
    display: flex;
    flex-direction: column;
}

.light-auto {
    background: url(../img/light.png) no-repeat;
    width: 50px;
    height: 29px;
}

.off-door-auto {
    background: url(../img/off-door.png) no-repeat;
    width: 48px;
    height: 36px;
    margin-left: 20px;
}

.on-door-auto {
    background: url(../img/on-door.png) no-repeat;
    width: 48px;
    height: 29px;
    margin-left: 20px;
}

.key-auto {
    background: url(../img/key.png) no-repeat;
    width: 48px;
    height: 24px;
    margin-left: 15px;
}

.oil-text {
    margin-top: 6px;
    display: flex;
    width: inherit;
    font-family: "RobotoLight";
    font-size: 15px;
    color: #fff;
}

.oil-tt {
    margin-left: 12px;
}

.oil-num {
    margin-left: auto;
    margin-right: 11px;
}

.oil-liner {
    width: 166.99px;
    height: 6.99px;
    background: rgb(71, 71, 71);
    margin-top: 6px;
    margin-left: 12px;
    overflow: hidden;
}

.full-liner {
    background: #48b9f2;
    height: inherit;
    transition-duration: 0.2s;
}

.speedbox-main {
    margin-bottom: 26px;
    width: 432px;
    display: flex;
    justify-content: center;
    position: relative;
}

.speedbox-main-small {
    margin-bottom: 26px;
    width: 432px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 90px;
    margin-left: auto;
    zoom: 0.45;
}

.speedbox-small {
    font-family: "Roboto";
    margin-bottom: 2px;
    width: 384px;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    position: relative;
}

.speedbox-small .speed-txt {
    font-family: "Roboto";
    font-size: 34px;
    font-weight: bold;
    margin-right: 8px;
}

.speedbox {
    display: flex;
    position: relative;
    width: 390px;
    overflow: hidden;
    height: 195px;
}

.speedbox-groove {
    width: 390px;
    height: 195px;
    background: transparent;
    border-top-left-radius: 195px;
    border-top-right-radius: 195px;
    border: 14.69px solid rgb(0, 0, 0, 0.302);
    border-bottom: 0;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
}

.speedbox-score {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-45deg);
    width: 390px;
    height: 390px;
    background: transparent;
    border-radius: 50%;
    border: 14.69px solid #48b9f2;
    border-color: transparent transparent #48b9f2 #48b9f2;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease;
}

.backg-speed {
    background: url(../img/speed.svg) no-repeat;
    width: 426px;
    height: 231px;
    position: absolute;
    left: 57px;
    top: 30px;
    display: flex;
    justify-content: center;
    zoom: 0.8;
}

.backg-speed .speed-txt {
    font-family: "RobotoBold";
    font-size: 48px;
    color: rgb(255, 255, 255, 0.4);
    text-align: center;
    margin-top: auto;
    margin-bottom: 40px;
}

.gang-war-info {
    font-family: "Roboto";
    width: 260px;
    height: 114px;
    background: rgb(0, 0, 0, 0.502);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 19px;
    padding-right: 19px;
    position: absolute;
    bottom: 30px;
    left: 12px;
}

.gps-main {
    /*width: 386px;*/
    min-width: 115px;
    height: 64px;
    background: rgb(0, 0, 0, 0.502);
    margin-left: 323px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 19px;
    padding-right: 19px;
}

.gps-title {
    font-family: "Roboto";
    color: rgb(72, 185, 242);
    font-size: 16px;
    text-align: left;
    margin-bottom: 5px;
}

.gps-txt {
    font-family: "RobotoLight";
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: left;
}

.watch-main {
    width: 153px;
    height: 48px;
    background: rgb(0, 0, 0, 0.502);
    margin-left: 323px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
}

.watch-main .degrees {
    width: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "RobotoMedium";
    color: rgb(255, 255, 255);
    text-align: center;
}

.watch-main .time-box {
    width: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 19px;
}

.time-box .time {
    width: inherit;
    height: 14px;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    font-size: 18px;
    font-family: "RobotoLight";
    color: rgb(255, 255, 255);
}

.time-img-watch {
    width: 12px;
    height: 12px;
    background: url(../img/clock.png) no-repeat;
    background-size: cover;
    margin-left: 3px
}

.zone-box {
    font-family: "RobotoLight";
    margin-left: 323px;
    margin-bottom: 8px;
    display: flex;
}

.time-img-greenzone {
    width: 60px;
    height: 60px;
    background: url(../img/GreenZone.png) no-repeat;
    background-size: cover;
}

.time-img-yellowzone {
    width: 60px;
    height: 60px;
    background: url(../img/YellowZone.png) no-repeat;
    background-size: cover;
    margin-left: 8px;
}

.time-box .date {
    margin-top: 5px;
    font-size: 12.7px;
    font-family: "RobotoLight";
    color: rgb(255, 255, 255);
}

.hud-position-righttop {
    width: inherit;
    display: flex;
    position: absolute;
}

.logo-main {
    margin-top: 18px;
    margin-right: 37px;
    display: flex;
    margin-left: auto;
}

.logo-main .logo-img {
    background: url('../img/dnlogo.gif') no-repeat;
    background-size: cover;
    margin-top: -28px;
    margin-right: -30px;
    width: 82px;
    height: 82px;
}

.logo-main .logo-info {
    text-align: right;
    font-size: 13px;
    margin-top: -3px;
    color: #fff;
    font-family: 'Roboto';
}

.logo-main .logo-ammo {
    position: absolute;
    display: flex;
    top: 74px;
    right: 24px;
    font-size: 16px;
    font-family: 'Roboto';
    padding: 8px;
    background: rgb(0, 0, 0, 0.502);
}

.logo-main .logo-quest {
    position: absolute;
    max-width: 250px;
    top: 124px;
    right: 24px;
    font-size: 16px;
    font-family: 'Roboto';
    padding: 16px;
    background: rgb(0, 0, 0, 0.502);
}

.logo-main .logo-quest .quest-title {
    font-family: 'HACKED';
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.logo-main .logo-quest .quest-text {
    font-family: 'Roboto';
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
}

.logo-main .logo-quest .quest-win {
    font-family: 'Roboto';
    font-weight: 300;
    color: rgb(72, 185, 242);
}

.logo-main .logo-ammo-img {
    width: 23px;
    height: 17px;
    margin-right: 2px;
}

.logo-main .logo-ammo-img.ammo-safe {
    width: 23px;
    background: url("../img/ammo-sf.png") no-repeat;
    background-size: contain;
}

.logo-main .logo-ammo-img.ammo-single {
    width: 11px;
    background: url("../img/ammo-s.png") no-repeat;
    background-size: contain;
}

.logo-main .logo-ammo-img.ammo-burst {
    width: 18px;
    background: url("../img/ammo-b.png") no-repeat;
    background-size: contain;
}

.logo-main .logo-ammo-img.ammo-auto {
    width: 23px;
    background: url("../img/ammo.png") no-repeat;
    background-size: contain;
}

.span-bold {
    font-family: 'RobotoBlack';
}

.hide {
    display: none;
}

#car-radar {
    width: 390px;
    height: 155px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    background-color: #0a0a0a;
    border: 5px solid #000;
    border-radius: 10px;
    font-family: 'D-DIN Bold';
}

.primary {
    display: inline-block;
}

.patrol {
    display: inline-block;
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
}

.label {
    letter-spacing: 0.05em;
    display: block;
    color: #c0c0c0;
    font-weight: bold;
    font-size: 10pt;
    text-transform: uppercase;
    text-align: center;
    font-family: 'D-DIN Bold';
}

.label.logo {
    font-size: 14pt;
}

.label.dim {
    color: #666;
}

#car-radar .front .lamps, #car-radar .front .arrows {
    margin-top: 15px;
}

#car-radar .rear .lamps, #car-radar .rear .arrows {
    margin-bottom: 15px;
}

.lamps {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #600;
    line-height: 15px;
    font-weight: bold;
    font-size: 8pt;
    text-transform: uppercase;
    text-align: right;
    font-family: 'D-DIN Bold';
}

.lit {
    color: #e00;
}

.display {
    display: inline-block;
    width: 2.5em;
    height: 1.2em;
    font-size: 28pt;
    line-height: 45px;
    margin: 2px;
    font-family: 'DSEG7Classic';
    border: 3px solid #000;
}

.display::after {
    position: absolute;
    content: '888';
}

.display span {
    z-index: 100;
    position: absolute;
}

.display.orange span { color: #f79e00; }
.display.orange { color: #592c00; background-color: #3d1c00; }

.display.red span { color: #ff0000; }
.display.red { color: #350000; background-color: #230303; }

.display.green span { color: #18f400; }
.display.green { color: #0e3800; background-color: #072600; }

.display.plate {
    display: block;
    width: 6em;
    height: 1.2em;
    line-height: 1.1em;
    font-size: 16pt;
    border: 2px solid #000;
    font-family: Consolas;
    letter-spacing: 0.1em;
}

.display.plate::after {
    position: absolute;
    content: '';
}

.display.plate span {
    margin-left: 0.4em;
}

.arrows {
    width: 15px;
}

.arrow {
    font-size: 14pt;
    color: #500;
    display: block;
}

.arrow.lit {
    color: #e00;
}

#control {
    padding: 10px;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #0a0a0a;
    text-transform: uppercase;
    position: absolute;
    right: 10px;
    bottom: 185px;
}

#control .btn-grid button.lit {
    background-color: #620000;
    color: #ff0000;
}

#control .btn-grid td {
    width: 50px;
    height: 50px;
}

#control .btn-grid label {
    color: #aaa;
}

#control .btn-grid .btn-red {
    color: #530000;
    background-color: #180000;
}

#control button {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    text-align: center;
    font-family: 'D-DIN Bold';
    font-weight: bold;
    font-size: 9pt;
    text-transform: uppercase;
    background-color: #111;
    color: #aaa;
    overflow-wrap: normal;
}

#control button:focus {
    border: 2px solid #000;
}

#control .btn-block {
    display: block;
    width: 100%;
}

#control .btn-sm {
    height: 25px;
}

#plates {
    width: 180px;
    height: 100px;
    position: absolute;
    bottom: 10px;
    right: 420px;
    background-color: #0a0a0a;
    border: 5px solid #000;
    border-radius: 10px;
    z-index: -1;
}

#plates .label {
    margin-left: 0.25em;
    line-height: 1.5em;
}

#plates .lamps li {
    width: 3em;
}