.fibcertificate-main {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.fib-box{
    width: 559px;
    height: 374px;
    background: url(../img/bg.png) no-repeat;
    outline: 2px dashed rgb(152, 152, 152,0.2);
    border-width: 1.5px;
    outline-offset: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fib-sticker {
    width: 242px;
    height: 79px;
    font-family: 'RobotoBlack';
    font-size: 75px;
    color: #ababab;
    background: #2d2d2d;
    margin-top: -38px;
    margin-left: -34px;
    position: absolute;
    display: flex;
    align-items: center;
    box-shadow: -3px 1px 9px rgba(0,0,0,0.5);
}
.back-fib{
    width: 504px;
    height: 333px;
    background: #2d2d2d;
}
.fib-cert {
    width: 465px;
    height: 295px;
    background:url(/static/media/logo-fib.d0074c64.png) no-repeat top right, 
    #fff  url(/static/media/logo-2.3962d20a.png) no-repeat -11% bottom;
    border-left: 18px solid #3cadef;
    margin-top: 20px;
    position: relative;
}
.fib-txt-stic {
    margin-left: 33px;
}
.fib-img {
    width: 97px;
    height: 126px;
    z-index: 1;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 17px;
}
.style-img-fib {    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    border-bottom: 15px solid rgb(72, 185, 242);
}
.fib-pl-inf {
    width: 465px;
    height: 152px;
    padding-top: 85px;
    display: flex;
    flex-direction: row;
}
.fib-second-inf {
    margin-left: 34px;
}
.fib-name{
    font-family: 'RobotoBlack';
    font-size: 24px;
    color: #2d2d2d
}
.fib-grow {
    font-family: 'RobotoLight';
    font-size: 12px;
    color: #adadad;
    text-transform: uppercase;
 }
 .fib-black {
    font-family: 'RobotoLight';
    font-size: 15px;
    color: #1e1e1e
 }
 .box-fib-inf-tt {
    margin-top: 30px;
 }
 .ff-rr-kk {
    width: 119px;
    display: inline-flex;
 }
 .pp-aaa {
    width: 46px;
    display: inline-flex;
 }
 .kk-ll-pp {
    font-family: 'RobotoLight', sans-serif;
     margin-left: 164px;
 }