/*FOOD*/
.img-burger {
    background: url(../img/food/burger.png) no-repeat;
    width: 41px;
    height: 41px;
}
.img-cola {
    background: url(../img/food/cola.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 39px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
/*OUTFITS*/
.img-cap {
    background: url(../img/outfit/cap.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 36px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.img-glasses {
    background: url(../img/outfit/glasses.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 41px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.img-mask {
    background: url(../img/outfit/hockey-mask.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 35px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.img-shirt {
    background: url(../img/outfit/shirt.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 35px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.img-jewerly {
    background: url(../img/outfit/pearl-necklace.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 35px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.img-earrings {
    background: url(../img/outfit/earrings.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 31px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.img-jeans {
    background: url(../img/outfit/jeans.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 18px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.img-watch {
    background: url(../img/outfit/wristwatch.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 20px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.img-bracelet {
    background: url(../img/outfit/bracelet.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 19px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.img-boot {
    background: url(../img/outfit/boot.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 35px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.img-clock {
    background: url(../img/outfit/circular-clock-tool.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 32px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.img-phone {
    background: url(../img/outfit/smartphone.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 22px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.img-money {
    background: url(../img/outfit/notes.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 35px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.img-card {
    background: url(../img/outfit/credit-card.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 33px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
/*WEAPON*/
.img-weapon {
    background: url(../img/weapon/img-weapon.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 40px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.img-machete {
    background: url(../img/weapon/machete.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 40px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
/*DRUGS*/
.img-cocaine {
    background: url(../img/items/drugs.png) no-repeat;
    width: 41px;
    height: 41px;
    background-size: 36px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-0 { background: url(../img/all-items/item_0.png) no-repeat; }
.img-1 { background: url(../img/all-items/item_1.png) no-repeat; }
.img-2 { background: url(../img/all-items/item_2.png) no-repeat; }
.img-3 { background: url(../img/all-items/item_3.png) no-repeat; }
.img-4 { background: url(../img/all-items/item_4.png) no-repeat; }
.img-5 { background: url(../img/all-items/item_5.png) no-repeat; }
.img-6 { background: url(../img/all-items/item_6.png) no-repeat; }
.img-7 { background: url(../img/all-items/item_7.png) no-repeat; }
.img-8 { background: url(../img/all-items/item_8.png) no-repeat; }
.img-9 { background: url(../img/all-items/item_9.png) no-repeat; }
.img-10 { background: url(../img/all-items/item_10.png) no-repeat; }
.img-11 { background: url(../img/all-items/item_11.png) no-repeat; }
.img-12 { background: url(../img/all-items/item_12.png) no-repeat; }
.img-13 { background: url(../img/all-items/item_13.png) no-repeat; }
.img-14 { background: url(../img/all-items/item_14.png) no-repeat; }
.img-15 { background: url(../img/all-items/item_15.png) no-repeat; }
.img-16 { background: url(../img/all-items/item_16.png) no-repeat; }
.img-17 { background: url(../img/all-items/item_17.png) no-repeat; }
.img-18 { background: url(../img/all-items/item_18.png) no-repeat; }
.img-19 { background: url(../img/all-items/item_19.png) no-repeat; }
.img-20 { background: url(../img/all-items/item_20.png) no-repeat; }
.img-21 { background: url(../img/all-items/item_21.png) no-repeat; }
.img-22 { background: url(../img/all-items/item_22.png) no-repeat; }
.img-23 { background: url(../img/all-items/item_23.png) no-repeat; }
.img-24 { background: url(../img/all-items/item_24.png) no-repeat; }
.img-25 { background: url(../img/all-items/item_25.png) no-repeat; }
.img-26 { background: url(../img/all-items/item_26.png) no-repeat; }
.img-27 { background: url(../img/all-items/item_27.png) no-repeat; }
.img-28 { background: url(../img/all-items/item_28.png) no-repeat; }
.img-29 { background: url(../img/all-items/item_29.png) no-repeat; }
.img-30 { background: url(../img/all-items/item_30.png) no-repeat; }
.img-31 { background: url(../img/all-items/item_31.png) no-repeat; }
.img-32 { background: url(../img/all-items/item_32.png) no-repeat; }
/*.img-33 { background: url(../img/all-items/item_33.png) no-repeat; }*/
.img-34 { background: url(../img/all-items/item_34.png) no-repeat; }
.img-35 { background: url(../img/all-items/item_35.png) no-repeat; }
.img-36 { background: url(../img/all-items/item_36.png) no-repeat; }
.img-37 { background: url(../img/all-items/item_37.png) no-repeat; }
.img-38 { background: url(../img/all-items/item_38.png) no-repeat; }
.img-39 { background: url(../img/all-items/item_39.png) no-repeat; }
.img-40 { background: url(../img/all-items/item_40.png) no-repeat; }
.img-41 { background: url(../img/all-items/item_41.png) no-repeat; }
.img-42 { background: url(../img/all-items/item_42.png) no-repeat; }
.img-43 { background: url(../img/all-items/item_43.png) no-repeat; }
.img-44 { background: url(../img/all-items/item_44.png) no-repeat; }
.img-45 { background: url(../img/all-items/item_45.png) no-repeat; }
.img-46 { background: url(../img/all-items/item_46.png) no-repeat; }
.img-47 { background: url(../img/all-items/item_47.png) no-repeat; }
.img-48 { background: url(../img/all-items/item_48.png) no-repeat; }
.img-49 { background: url(../img/all-items/item_49.png) no-repeat; }
.img-50 { background: url(../img/all-items/item_50.png) no-repeat; }
.img-51 { background: url(../img/all-items/item_51.png) no-repeat; }
.img-52 { background: url(../img/all-items/item_52.png) no-repeat; }
.img-53 { background: url(../img/all-items/item_53.png) no-repeat; }
.img-54 { background: url(../img/all-items/item_54.png) no-repeat; }
.img-55 { background: url(../img/all-items/item_55.png) no-repeat; }
.img-56 { background: url(../img/all-items/item_56.png) no-repeat; }
.img-57 { background: url(../img/all-items/item_57.png) no-repeat; }
.img-58 { background: url(../img/all-items/item_58.png) no-repeat; }
.img-59 { background: url(../img/all-items/item_59.png) no-repeat; }
.img-60 { background: url(../img/all-items/item_60.png) no-repeat; }
.img-61 { background: url(../img/all-items/item_61.png) no-repeat; }
.img-62 { background: url(../img/all-items/item_62.png) no-repeat; }
.img-63 { background: url(../img/all-items/item_63.png) no-repeat; }
.img-64 { background: url(../img/all-items/item_64.png) no-repeat; }
.img-65 { background: url(../img/all-items/item_65.png) no-repeat; }
.img-66 { background: url(../img/all-items/item_66.png) no-repeat; }
.img-67 { background: url(../img/all-items/item_67.png) no-repeat; }
.img-68 { background: url(../img/all-items/item_68.png) no-repeat; }
.img-69 { background: url(../img/all-items/item_69.png) no-repeat; }
.img-70 { background: url(../img/all-items/item_70.png) no-repeat; }
.img-71 { background: url(../img/all-items/item_71.png) no-repeat; }
.img-72 { background: url(../img/all-items/item_72.png) no-repeat; }
.img-73 { background: url(../img/all-items/item_73.png) no-repeat; }
.img-74 { background: url(../img/all-items/item_74.png) no-repeat; }
.img-75 { background: url(../img/all-items/item_75.png) no-repeat; }
.img-76 { background: url(../img/all-items/item_76.png) no-repeat; }
.img-77 { background: url(../img/all-items/item_77.png) no-repeat; }
.img-78 { background: url(../img/all-items/item_78.png) no-repeat; }
.img-79 { background: url(../img/all-items/item_79.png) no-repeat; }
.img-80 { background: url(../img/all-items/item_80.png) no-repeat; }
.img-81 { background: url(../img/all-items/item_81.png) no-repeat; }
.img-82 { background: url(../img/all-items/item_82.png) no-repeat; }
.img-83 { background: url(../img/all-items/item_83.png) no-repeat; }
.img-84 { background: url(../img/all-items/item_84.png) no-repeat; }
.img-85 { background: url(../img/all-items/item_85.png) no-repeat; }
.img-86 { background: url(../img/all-items/item_86.png) no-repeat; }
.img-87 { background: url(../img/all-items/item_87.png) no-repeat; }
.img-88 { background: url(../img/all-items/item_88.png) no-repeat; }
.img-89 { background: url(../img/all-items/item_89.png) no-repeat; }
.img-90 { background: url(../img/all-items/item_90.png) no-repeat; }
.img-91 { background: url(../img/all-items/item_91.png) no-repeat; }
.img-92 { background: url(../img/all-items/item_92.png) no-repeat; }
.img-93 { background: url(../img/all-items/item_93.png) no-repeat; }
.img-94 { background: url(../img/all-items/item_94.png) no-repeat; }
.img-95 { background: url(../img/all-items/item_95.png) no-repeat; }
.img-96 { background: url(../img/all-items/item_96.png) no-repeat; }
.img-97 { background: url(../img/all-items/item_97.png) no-repeat; }
.img-98 { background: url(../img/all-items/item_98.png) no-repeat; }
.img-99 { background: url(../img/all-items/item_99.png) no-repeat; }
.img-100 { background: url(../img/all-items/item_100.png) no-repeat; }
/*.img-101 { background: url(../img/all-items/item_101.png) no-repeat; }*/
.img-102 { background: url(../img/all-items/item_102.png) no-repeat; }
.img-103 { background: url(../img/all-items/item_103.png) no-repeat; }
.img-104 { background: url(../img/all-items/item_104.png) no-repeat; }
.img-105 { background: url(../img/all-items/item_105.png) no-repeat; }
.img-106 { background: url(../img/all-items/item_106.png) no-repeat; }
.img-107 { background: url(../img/all-items/item_107.png) no-repeat; }
.img-108 { background: url(../img/all-items/item_108.png) no-repeat; }
.img-109 { background: url(../img/all-items/item_109.png) no-repeat; }
.img-110 { background: url(../img/all-items/item_110.png) no-repeat; }
.img-111 { background: url(../img/all-items/item_111.png) no-repeat; }
.img-112 { background: url(../img/all-items/item_112.png) no-repeat; }
.img-113 { background: url(../img/all-items/item_113.png) no-repeat; }
.img-114 { background: url(../img/all-items/item_114.png) no-repeat; }
.img-115 { background: url(../img/all-items/item_115.png) no-repeat; }
.img-116 { background: url(../img/all-items/item_116.png) no-repeat; }
.img-117 { background: url(../img/all-items/item_117.png) no-repeat; }
.img-118 { background: url(../img/all-items/item_118.png) no-repeat; }
.img-119 { background: url(../img/all-items/item_119.png) no-repeat; }
.img-120 { background: url(../img/all-items/item_120.png) no-repeat; }
.img-121 { background: url(../img/all-items/item_121.png) no-repeat; }
.img-122 { background: url(../img/all-items/item_122.png) no-repeat; }
.img-123 { background: url(../img/all-items/item_123.png) no-repeat; }
.img-124 { background: url(../img/all-items/item_124.png) no-repeat; }
.img-125 { background: url(../img/all-items/item_125.png) no-repeat; }
.img-126 { background: url(../img/all-items/item_126.png) no-repeat; }
.img-127 { background: url(../img/all-items/item_127.png) no-repeat; }
.img-128 { background: url(../img/all-items/item_128.png) no-repeat; }
.img-129 { background: url(../img/all-items/item_129.png) no-repeat; }
.img-130 { background: url(../img/all-items/item_130.png) no-repeat; }
.img-131 { background: url(../img/all-items/item_131.png) no-repeat; }
.img-132 { background: url(../img/all-items/item_132.png) no-repeat; }
.img-133 { background: url(../img/all-items/item_133.png) no-repeat; }
.img-134 { background: url(../img/all-items/item_134.png) no-repeat; }
.img-135 { background: url(../img/all-items/item_135.png) no-repeat; }
.img-136 { background: url(../img/all-items/item_136.png) no-repeat; }
.img-137 { background: url(../img/all-items/item_137.png) no-repeat; }
.img-138 { background: url(../img/all-items/item_138.png) no-repeat; }
.img-139 { background: url(../img/all-items/item_139.png) no-repeat; }
.img-140 { background: url(../img/all-items/item_140.png) no-repeat; }
.img-141 { background: url(../img/all-items/item_141.png) no-repeat; }
.img-142 { background: url(../img/all-items/item_142.png) no-repeat; }
.img-143 { background: url(../img/all-items/item_143.png) no-repeat; }
.img-144 { background: url(../img/all-items/item_144.png) no-repeat; }
.img-145 { background: url(../img/all-items/item_145.png) no-repeat; }
.img-146 { background: url(../img/all-items/item_146.png) no-repeat; }
.img-147 { background: url(../img/all-items/item_147.png) no-repeat; }
.img-148 { background: url(../img/all-items/item_148.png) no-repeat; }
.img-149 { background: url(../img/all-items/item_149.png) no-repeat; }
.img-150 { background: url(../img/all-items/item_150.png) no-repeat; }
.img-151 { background: url(../img/all-items/item_151.png) no-repeat; }
.img-152 { background: url(../img/all-items/item_152.png) no-repeat; }
.img-153 { background: url(../img/all-items/item_153.png) no-repeat; }
.img-154 { background: url(../img/all-items/item_154.png) no-repeat; }
.img-155 { background: url(../img/all-items/item_155.png) no-repeat; }
.img-156 { background: url(../img/all-items/item_156.png) no-repeat; }
.img-157 { background: url(../img/all-items/item_157.png) no-repeat; }
.img-158 { background: url(../img/all-items/item_158.png) no-repeat; }
.img-159 { background: url(../img/all-items/item_159.png) no-repeat; }
.img-160 { background: url(../img/all-items/item_160.png) no-repeat; }
.img-161 { background: url(../img/all-items/item_161.png) no-repeat; }
.img-162 { background: url(../img/all-items/item_162.png) no-repeat; }
/*.img-163 { background: url(../img/all-items/item_163.png) no-repeat; }
.img-164 { background: url(../img/all-items/item_164.png) no-repeat; }*/
.img-165 { background: url(../img/all-items/item_165.png) no-repeat; }
.img-166 { background: url(../img/all-items/item_166.png) no-repeat; }
.img-167 { background: url(../img/all-items/item_167.png) no-repeat; }
.img-168 { background: url(../img/all-items/item_168.png) no-repeat; }
.img-169 { background: url(../img/all-items/item_169.png) no-repeat; }
.img-170 { background: url(../img/all-items/item_170.png) no-repeat; }
.img-171 { background: url(../img/all-items/item_171.png) no-repeat; }
.img-172 { background: url(../img/all-items/item_172.png) no-repeat; }
.img-173 { background: url(../img/all-items/item_173.png) no-repeat; }
.img-174 { background: url(../img/all-items/item_174.png) no-repeat; }
.img-175 { background: url(../img/all-items/item_175.png) no-repeat; }
.img-176 { background: url(../img/all-items/item_176.png) no-repeat; }
.img-177 { background: url(../img/all-items/item_177.png) no-repeat; }
.img-178 { background: url(../img/all-items/item_178.png) no-repeat; }
.img-179 { background: url(../img/all-items/item_179.png) no-repeat; }
.img-180 { background: url(../img/all-items/item_180.png) no-repeat; }
.img-181 { background: url(../img/all-items/item_181.png) no-repeat; }
.img-182 { background: url(../img/all-items/item_182.png) no-repeat; }
.img-183 { background: url(../img/all-items/item_183.png) no-repeat; }
.img-184 { background: url(../img/all-items/item_184.png) no-repeat; }
.img-185 { background: url(../img/all-items/item_185.png) no-repeat; }
.img-186 { background: url(../img/all-items/item_186.png) no-repeat; }
.img-187 { background: url(../img/all-items/item_187.png) no-repeat; }
.img-188 { background: url(../img/all-items/item_188.png) no-repeat; }
.img-189 { background: url(../img/all-items/item_189.png) no-repeat; }
.img-190 { background: url(../img/all-items/item_190.png) no-repeat; }
.img-191 { background: url(../img/all-items/item_191.png) no-repeat; }
.img-192 { background: url(../img/all-items/item_192.png) no-repeat; }
.img-193 { background: url(../img/all-items/item_193.png) no-repeat; }
.img-194 { background: url(../img/all-items/item_194.png) no-repeat; }
.img-195 { background: url(../img/all-items/item_195.png) no-repeat; }
.img-196 { background: url(../img/all-items/item_196.png) no-repeat; }
.img-197 { background: url(../img/all-items/item_197.png) no-repeat; }
.img-198 { background: url(../img/all-items/item_198.png) no-repeat; }
.img-199 { background: url(../img/all-items/item_199.png) no-repeat; }
.img-200 { background: url(../img/all-items/item_200.png) no-repeat; }
.img-201 { background: url(../img/all-items/item_201.png) no-repeat; }
.img-202 { background: url(../img/all-items/item_202.png) no-repeat; }
.img-203 { background: url(../img/all-items/item_203.png) no-repeat; }
.img-204 { background: url(../img/all-items/item_204.png) no-repeat; }
.img-205 { background: url(../img/all-items/item_205.png) no-repeat; }
.img-206 { background: url(../img/all-items/item_206.png) no-repeat; }
.img-207 { background: url(../img/all-items/item_207.png) no-repeat; }
.img-208 { background: url(../img/all-items/item_208.png) no-repeat; }
.img-209 { background: url(../img/all-items/item_209.png) no-repeat; }
.img-210 { background: url(../img/all-items/item_210.png) no-repeat; }
.img-211 { background: url(../img/all-items/item_211.png) no-repeat; }
.img-212 { background: url(../img/all-items/item_212.png) no-repeat; }
.img-213 { background: url(../img/all-items/item_213.png) no-repeat; }
.img-214 { background: url(../img/all-items/item_214.png) no-repeat; }
.img-215 { background: url(../img/all-items/item_215.png) no-repeat; }
.img-216 { background: url(../img/all-items/item_216.png) no-repeat; }
.img-217 { background: url(../img/all-items/item_217.png) no-repeat; }
.img-218 { background: url(../img/all-items/item_218.png) no-repeat; }
.img-219 { background: url(../img/all-items/item_219.png) no-repeat; }
.img-220 { background: url(../img/all-items/item_220.png) no-repeat; }
.img-221 { background: url(../img/all-items/item_221.png) no-repeat; }
.img-222 { background: url(../img/all-items/item_222.png) no-repeat; }
.img-223 { background: url(../img/all-items/item_223.png) no-repeat; }
.img-224 { background: url(../img/all-items/item_224.png) no-repeat; }
.img-225 { background: url(../img/all-items/item_225.png) no-repeat; }
.img-226 { background: url(../img/all-items/item_226.png) no-repeat; }
.img-227 { background: url(../img/all-items/item_227.png) no-repeat; }
.img-228 { background: url(../img/all-items/item_228.png) no-repeat; }
.img-229 { background: url(../img/all-items/item_229.png) no-repeat; }
.img-230 { background: url(../img/all-items/item_230.png) no-repeat; }
.img-231 { background: url(../img/all-items/item_231.png) no-repeat; }
.img-232 { background: url(../img/all-items/item_232.png) no-repeat; }
.img-233 { background: url(../img/all-items/item_233.png) no-repeat; }
.img-234 { background: url(../img/all-items/item_234.png) no-repeat; }
.img-235 { background: url(../img/all-items/item_235.png) no-repeat; }
.img-236 { background: url(../img/all-items/item_236.png) no-repeat; }
.img-237 { background: url(../img/all-items/item_237.png) no-repeat; }
.img-238 { background: url(../img/all-items/item_238.png) no-repeat; }
.img-239 { background: url(../img/all-items/item_239.png) no-repeat; }
.img-240 { background: url(../img/all-items/item_240.png) no-repeat; }
.img-241 { background: url(../img/all-items/item_241.png) no-repeat; }
.img-242 { background: url(../img/all-items/item_242.png) no-repeat; }
.img-243 { background: url(../img/all-items/item_243.png) no-repeat; }
.img-244 { background: url(../img/all-items/item_244.png) no-repeat; }
.img-245 { background: url(../img/all-items/item_245.png) no-repeat; }
.img-246 { background: url(../img/all-items/item_246.png) no-repeat; }
.img-247 { background: url(../img/all-items/item_247.png) no-repeat; }
.img-248 { background: url(../img/all-items/item_248.png) no-repeat; }
.img-249 { background: url(../img/all-items/item_249.png) no-repeat; }
.img-250 { background: url(../img/all-items/item_250.png) no-repeat; }
.img-251 { background: url(../img/all-items/item_251.png) no-repeat; }
.img-252 { background: url(../img/all-items/item_252.png) no-repeat; }
.img-253 { background: url(../img/all-items/item_253.png) no-repeat; }
.img-254 { background: url(../img/all-items/item_254.png) no-repeat; }
.img-255 { background: url(../img/all-items/item_255.png) no-repeat; }
.img-256 { background: url(../img/all-items/item_256.png) no-repeat; }
.img-257 { background: url(../img/all-items/item_257.png) no-repeat; }
.img-258 { background: url(../img/all-items/item_258.png) no-repeat; }
.img-259 { background: url(../img/all-items/item_259.png) no-repeat; }
.img-260 { background: url(../img/all-items/item_260.png) no-repeat; }
.img-261 { background: url(../img/all-items/item_261.png) no-repeat; }
.img-262 { background: url(../img/all-items/item_262.png) no-repeat; }
.img-263 { background: url(../img/all-items/item_263.png) no-repeat; }
.img-264 { background: url(../img/all-items/item_264.png) no-repeat; }
.img-265 { background: url(../img/all-items/item_265.png) no-repeat; }
.img-266 { background: url(../img/all-items/item_266.png) no-repeat; }
.img-267 { background: url(../img/all-items/item_267.png) no-repeat; }
.img-268 { background: url(../img/all-items/item_268.png) no-repeat; }
.img-269 { background: url(../img/all-items/item_269.png) no-repeat; }
.img-270 { background: url(../img/all-items/item_270.png) no-repeat; }
.img-271 { background: url(../img/all-items/item_271.png) no-repeat; }
.img-272 { background: url(../img/all-items/item_272.png) no-repeat; }
.img-273 { background: url(../img/all-items/item_273.png) no-repeat; }
.img-274 { background: url(../img/all-items/item_274.png) no-repeat; }
.img-275 { background: url(../img/all-items/item_275.png) no-repeat; }
.img-276 { background: url(../img/all-items/item_276.png) no-repeat; }
.img-277 { background: url(../img/all-items/item_277.png) no-repeat; }
.img-278 { background: url(../img/all-items/item_278.png) no-repeat; }

.icon-item {
    width: 41px;
    height: 41px;
    background-size: 36px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}