body {
    /*background: #352929;*/
}

.bgForDrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.inv-box {
    /* width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: row-reverse;
    z-index: -1; */
    flex-direction: row-reverse;
    margin-left: auto;
    margin-top: auto;
    position: relative;
    margin-right: auto;
    margin-bottom: auto;
}

.inventory-main {
    width: 1129px;
    height: 694px;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.inv-row-main {
    display: flex;
}

.player-inv {
    width: 395px;
    height: 694px;
    background-color: rgb(0, 0, 0, 0.6);
    margin-right: 10px;
}

.player-info {
    width: 364px;
    height: 694px;
    background-color: rgb(0, 0, 0, 0.6);
    margin-right: 10px;
}

.player-craft {
    width: 350px;
    height: 694px;
    background-color: rgb(0, 0, 0, 0.6);
}

.title-inv {
    width: inherit;
    height: 46px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "HACKED";
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    position: relative;
}

.title-secondary-inv {
    width: inherit;
    height: 24px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5px;
    font-family: "HACKED";
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    position: relative;
}

.liner-secondary-inv {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    background: url(../img/liner-inv.png) no-repeat;
    width: 201px;
    height: 9px;
    margin-right: auto;
    margin-top: -32px;
    margin-bottom: -2px;
}

.liner-inv {
    background: url(../img/liner-inv.png) no-repeat;
    width: 201px;
    height: 9px;
    margin-left: auto;
    margin-top: -8px;
    margin-bottom: -2px;
}

.liner-inv-info {
    background: url(../img/liner-inv.png) no-repeat;
    width: 201px;
    height: 9px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: -1px;
}

.object-inv-box {
    margin-top: 18px;
    overflow: auto;
    height: 91%;
}

.object-box {
    width: 394px;
    height: 68px;
    display: flex;
    align-items: center;
    position: relative;
}
.linearbar-inv{
    position: absolute;
    /* width: 26%; */
    height: 100%;
    background: #00000042;
    transition: 1s linear;
    z-index: -1;
}
.object-box:hover {
    width: 387px;
    background-color: rgb(255, 255, 255, 0.102);
    border-right: 8px solid rgb(72, 185, 242);
}

.img-inv-box {
    margin-left: 14px;
}

.obj-inf-box {
    margin-left: 16px;
    height: 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.obj-inf-title {
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 7px;
}

.obj-inf-weight {
    font-family: "RobotoLight";
    color: rgb(202, 202, 202);
    font-size: 16px;
}

.player-title-info {
    width: 341px;
    height: 60px;
    padding-left: 15px;
    background-color: rgb(255, 255, 255);
    border-left: 8px solid rgb(72, 185, 242);
    font-family: "RobotoBold";
    font-size: 20px;
    color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.outf-cap {
    background: url(../img/outfit/cap.png) no-repeat;
    width: 62px;
    height: 51px;
    position: absolute;
    margin-top: 35px;
    margin-left: 150px;
}

.outf-glasses {
    background: url(../img/outfit/glasses.png) no-repeat;
    width: 72px;
    height: 22px;
    position: absolute;
    margin-top: 50px;
    margin-left: 235px;
}

.outf-mask {
    background: url(../img/outfit/hockey-mask.png) no-repeat;
    width: 52px;
    height: 64px;
    position: absolute;
    margin-top: 35px;
    margin-left: 70px;
}

.outf-shirt {
    background: url(../img/outfit/shirt.png) no-repeat;
    width: 103px;
    height: 103px;
    position: absolute;
    margin-top: 110px;
    margin-left: 134px;
}

.outf-jewerly {
    background: url(../img/outfit/pearl-necklace.png) no-repeat;
    width: 63px;
    height: 63px;
    position: absolute;
    margin-top: 118px;
    margin-left: 259px;
}

.outf-earrings {
    background: url(../img/outfit/earrings.png) no-repeat;
    width: 48px;
    height: 62px;
    position: absolute;
    margin-top: 120px;
    margin-left: 42px;
}

.outf-jeans {
    background: url(../img/outfit/jeans.png) no-repeat;
    width: 66px;
    height: 142px;
    position: absolute;
    margin-top: 232px;
    margin-left: 152px;
}

.outf-watch {
    background: url(../img/outfit/wristwatch.png) no-repeat;
    width: 36px;
    height: 72px;
    position: absolute;
    margin-top: 221px;
    margin-left: 272px;
}

.outf-bracelet {
    background: url(../img/outfit/bracelet.png) no-repeat;
    width: 34px;
    height: 56px;
    position: absolute;
    margin-top: 221px;
    margin-left: 52px;
}

.outf-gloves {
    background: url(../img/outfit/gloves.png) no-repeat;
    background-size: contain;
    width: 64px;
    height: 64px;
    position: absolute;
    margin-top: 321px;
    margin-left: 40px;
}

.outf-bag {
    background: url(../img/outfit/handbag.png) no-repeat;
    width: 63px;
    height: 63px;
    position: absolute;
    margin-top: 321px;
    margin-left: 259px;
    background-size: contain;
}

.outf-boot {
    background: url(../img/outfit/boot.png) no-repeat;
    width: 75px;
    height: 53px;
    position: absolute;
    margin-top: 391px;
    margin-left: 146px;
}

.outf-clock {
    background: url(../img/outfit/circular-clock-tool.png) no-repeat;
    width: 51px;
    height: 51px;
    margin-left: 18px;
}

.outf-armour {
    background: url(../img/outfit/armour.png)  no-repeat;
    width: 51px;
    height: 51px;
    margin-left: 18px;
    background-size: contain;
}

.outf-phone {
    background: url(../img/outfit/smartphone.png) no-repeat;
    width: 31px;
    height: 55px;
    margin-left: 47px;
}

.outf-money {
    background: url(../img/outfit/notes.png) no-repeat;
    width: 55px;
    height: 41px;
    margin-left: 48px;
}

.outf-card {
    background: url(../img/outfit/credit-card.png) no-repeat;
    width: 55px;
    height: 41px;
    margin-left: 41px;
}

.outfit-player-box {
    display: flex;
    height: 569px;
}

.bottom-otf-box {
    margin-top: auto;
    width: 364px;
    height: 80px;
    display: flex;
    align-items: center;
}

.use-outfit {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.use-outfit:hover {
    filter: brightness(0) saturate(100%) invert(59%) sepia(82%) saturate(454%) hue-rotate(169deg) brightness(97%) contrast(96%);
}

.main-for-squar-box {
    margin-top: 8px;
    display: flex;
}

.squar-inv-box {
    width: 68px;
    height: 68px;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.squar-inv-box:not(:last-child) {
    margin-right: 8px;
}

.menu-craft-change {
    display: flex;
    margin-top: 10px;
    background-color: rgb(38, 36, 36);
}

.btn-craft {
    width: 174px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 36, 36);
    cursor: pointer;
}

input[type="radio"]:checked + label.btn-craft {
    background-color: #fff;
}

input[type="radio"]:checked + label .bg-color-craft-block {
    filter: brightness(0) saturate(100%);
}

.img-btn-weapon {
    background: url(../img/gun.png) no-repeat;
    width: 60px;
    height: 42px;
}

.img-btn-cutter {
    background: url(../img/cutter.png) no-repeat;
    width: 44px;
    height: 44px;
}

.weapon-player-equip {
    height: 300px;
    width: inherit;
    margin-top: 27px;
    font-family: "RobotoBold";
    font-size: 20px;
    color: #fff;
    overflow: auto;
}

.style-serial-weapon {
    font-family: "RobotoLight";
    color: rgb(202, 202, 202);
    font-size: 12px;
    margin-top: 6px;
}

.style-weapon-txt-craft {
    margin-bottom: 33px;
    padding-left: 9px;
    height: 52px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 9px;
}

.style-weapon-txt-craft:hover {
    background-color: rgb(255, 255, 255, 0.102);
    border-right: 8px solid rgb(72, 185, 242);
}

.style-weapon-txt-craft-selected {
    background-color: rgb(255, 255, 255, 0.102);
    border-right: 8px solid rgb(72, 185, 242);
}

.liner-weapon-crafting {
    width: 20.5%;
    height: 8px;
    background: #48b9f2;
}

.box-img-equip-weapon {
    width: inherit;
    height: 137px;
    background-color: rgb(255, 255, 255, 0.102);
    display: flex;
    justify-content: center;
    align-items: center;
}

.weapon-m41 {
    background: url("../img/weapon/m41.png") no-repeat;
    width: 252px;
    height: 79px;
}

.selected-weapon {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
    background-size: 190px !important;
    background-position: center !important;
    /* filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(590%) hue-rotate(205deg) brightness(118%) contrast(100%); */
}

.main-box-craft-weapon {
    display: flex;
    flex-wrap: wrap;
}

.square-box-craft-weapon {
    width: 62px;
    height: 62px;
    background: rgb(255, 255, 255, 0.051);
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weapon-mod-active {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 62px;
    height: 62px;
    background-size: 54px !important;
    background-position: center !important;
    filter: brightness(400%) contrast(20%);
}

.weapon-mod {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 62px;
    height: 62px;
    background-size: 54px !important;
    background-position: center !important;
    filter: brightness(400%) contrast(20%);
    opacity: 0.3;
}

.weapon-mod-active:hover {
    filter: brightness(0) saturate(100%) invert(59%) sepia(82%) saturate(454%) hue-rotate(169deg) brightness(97%) contrast(96%);
}

.weapon-supressor {
    background: url("../img/weapon/supressor.png") no-repeat;
}

.weapon-flashlight {
    background: url("../img/weapon/flashlight.png") no-repeat;
}

.weapon-grip {
    background: url("../img/weapon/grip.png") no-repeat;
}

.weapon-scope {
    background: url("../img/weapon/scope.png") no-repeat;
}

.square-box-craft-weapon:first-child {
    margin-left: 21px;
}

.sqr-wp-left {
    margin-left: 21px;
}

.sqr-wp-top {
    margin-top: 19px;
    margin-bottom: 21px;
}

.cheked-crafting {
    width: 350px;
    height: 137px;
    background-color: rgb(255, 255, 255, 0.102);
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fail {
    background: url("../img/fail.png") no-repeat;
    width: 71px;
    height: 72px;
}

.img-succes {
    background: url("../img/succes.png") no-repeat;
    width: 71px;
    height: 71px;
}

.crafting-object-main {
    width: inherit;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.liner-crafting-obj {
    width: 0%;
    margin-right: auto;
    height: 8px;
    background: #48b9f2;
    transition: 2s;
}

.sqr-wp-bottom {
    margin-bottom: 21px;
}

.craft-btn-obj {
    width: 100%;
    height: 47px;
    background: rgb(255, 255, 255);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "HACKED";
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    transition: 0.3s;
}

.craft-btn-obj:hover, .craft-help-menu:hover {
    background: #000;
    color: #fff;
}

.craft-btn-main {
    display: flex;
}

.craft-help-menu {
    width: 50px;
    height: 47px;
    background: rgb(73, 184, 241);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "HACKED";
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
}

.close-window-craft {
    background: url("../img/close.png") no-repeat;
    width: 29px;
    height: 30px;
    margin-left: auto;
    position: relative;
    top: 21px;
    margin-top: -29px;
    transition: 0.1s ease-out;
    cursor: pointer;
    z-index: 9;
}

.close-window-craft:hover {
    filter: brightness(0) saturate(100%) invert(59%) sepia(82%) saturate(454%) hue-rotate(169deg) brightness(97%) contrast(96%);
}

.trunk-boxes-main {
    width: 82px;
}

.trunk-box {
    width: 62px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 9px;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: 8px;
    text-transform: uppercase;
}

.trunk-box:hover {
    background: #48b9f2;
}

.invetory-trunk {
    margin-bottom: auto;
    margin-right: 9px;
    margin-top: 46px;
}

.content-inventory {
    display: flex;
    flex-direction: row-reverse;
}

.trunk-info-menu {
    width: 330px;
    height: 648px;
    background: rgb(0, 0, 0, 0.702);
    /* display: flex;
    flex-direction: column; */
    overflow: auto;
}

.object-box-trunk {
    width: 330px;
    height: 68px;
    display: flex;
    align-items: center;
    position: relative;
}

.object-box-trunk:hover {
    background-color: rgb(255, 255, 255, 0.102);
}

.color-blue-btn {
    position: sticky;
    top: 0px;
    margin-top: -30px;
    filter: brightness(0) saturate(100%) invert(59%) sepia(82%) saturate(454%) hue-rotate(169deg) brightness(97%) contrast(96%);
}

.color-blue-btn:hover {
    filter: brightness(0) invert(100%);
}

.squar-inv-box:hover::after {
    content: attr(data-title);
    position: absolute;
    width: 68px;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.102);
    font-family: "Roboto";
    font-size: 13px;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.obj-inf-count {
    margin-left: auto;
    margin-right: 40px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 14px;
}

.object-box:hover .obj-inf-count {
    margin-right: 33px;
}

.weight-title-inv {
    right: 0px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    font-size: 22px;
}
.moveall_left {
    background: url(../img/moveall.svg) no-repeat;
    width: 20px;
    height: 20px;
    background-size: cover;
    transform: rotate(-180deg);
    position: absolute;
    left: 10px;
}
.moveall_right{
    background: url(../img/moveall.svg) no-repeat;
    width: 15px;
    height: 15px;
    background-size: cover;
    position: absolute;
    right: 5px;
    display: none;
}
.moveall_right:hover, .moveall_left:hover {
    filter: brightness(0) saturate(100%) invert(59%) sepia(82%) saturate(454%) hue-rotate(169deg) brightness(97%) contrast(96%);
}
.craft-player-sp {
    height: 543px;
    width: inherit;
    margin-top: 27px;
    font-family: "RobotoBold";
    font-size: 20px;
    color: #fff;
    overflow: auto;
}
.craft-one-sp {
    height: 235px;
    width: inherit;
    font-family: "RobotoBold";
    font-size: 20px;
    color: #fff;
    overflow: auto;

}
.style-for-craft-btn {
    margin-top: 0px;
}
.style-recipes-txt-craft {
    margin-bottom: 33px;
    padding-left: 9px;
    height: 200px;
    display: flex;
    overflow-x: auto;
    flex-direction: column;
    margin-bottom: 9px;
}
.text-dd-ss-kk {
    font-family: "RobotoBold";
    font-size: 20px;
    color: #fff;
    margin-top: 27px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.style-serial-recipes {
    font-family: "RobotoLight";
    color: rgb(202, 202, 202);
    font-size: 12px;
    margin-top: 6px;    
    white-space: pre-line;
}
.style-serial-rec-o{
    font-family: "RobotoLight";
    color: rgb(202, 202, 202);
    font-size: 12px;
    margin-top: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.select-craft {
    filter: brightness(0) saturate(100%) invert(59%) sepia(82%) saturate(454%) hue-rotate(169deg) brightness(97%) contrast(96%) !important;
}