body {
    /* background: #352929; */
}
.inv-box{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: row-reverse;
    z-index: -1;
}
.inventory-main {
    width: 1129px;
    height: 770px;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}
.inv-row-main {
    display: flex;
}
.player-inv {
    width: 395px;
    height: 694px;
    background-color: rgb(0, 0, 0, 0.6);
    margin-right: 10px;
}
.player-info {
    width: 364px;
    height: 694px;
    background-color: rgb(0, 0, 0, 0.6);
    margin-right: 10px;
}
.player-craft {
    width: 350px;
    height: 694px;
    background-color: rgb(0, 0, 0, 0.6);
}
.title-inv {
    width: inherit;
    height: 46px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "HACKED";
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
}
.liner-inv {
    background: url(../img/liner-inv.png) no-repeat;
    width: 201px;
    height: 9px;
    margin-left: auto;
    margin-top: -8px;
    margin-bottom: -2px;
}
.liner-inv-info {
    background: url(../img/liner-inv.png) no-repeat;
    width: 201px;
    height: 9px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: -1px;
}
.object-inv-box {
    margin-top: 18px;
    overflow: auto;
    height: 90%;
}
.object-box {
    width: 394px;
    height: 68px; 
    display: flex;
    align-items: center;
}
.object-box:hover {
    width: 387px;
    background-color: rgb(255, 255, 255, 0.102);  
    border-right: 8px solid rgb(72, 185, 242) ;
}
.img-inv-box {   
    margin-left: 14px;
}
.img-burger {
    background: url(../img/burger.png) no-repeat;
    width: 41px;
    height: 41px;
}
.obj-inf-box {
    margin-left: 16px;
}
.obj-inf-title {
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 7px;
}
.obj-inf-weight {
    font-family: "RobotoLight";
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.player-title-info {
    width: 341px;
    height: 60px;
    padding-left: 15px;
    background-color: rgb(255, 255, 255);
    border-left: 8px solid rgb(72, 185, 242) ;
    font-family: "RobotoBold";
    font-size: 20px;
    color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.outf-cap {
    background: url(../img/outfit/cap.png) no-repeat;
    width: 62px;
    height: 51px;
    position: absolute;
    margin-top: 35px;
    margin-left: 74px;
}
.outf-glasses {
    background: url(../img/outfit/glasses.png) no-repeat;
    width: 72px;
    height: 22px;
    position: absolute;
    margin-top: 50px;
    margin-left: 215px;
}  
.outf-mask {
    background: url(../img/outfit/hockey-mask.png) no-repeat;
    width: 52px;
    height: 64px;
    position: absolute;
    margin-top: 118px;
    margin-left: 40px;
}
.outf-shirt {
    background: url(../img/outfit/shirt.png) no-repeat;
    width: 103px;
    height: 103px;
    position: absolute;
    margin-top: 110px;
    margin-left: 134px;
}
.outf-jewerly {
    background: url(../img/outfit/pearl-necklace.png) no-repeat;
    width: 63px;
    height: 63px;
    position: absolute;
    margin-top: 153px;
    margin-left: 259px;
}
.outf-earrings {
    background: url(../img/outfit/earrings.png) no-repeat;
    width: 48px;
    height: 62px;
    position: absolute;
    margin-top: 221px;
    margin-left: 42px;
}
.outf-jeans {
    background: url(../img/outfit/jeans.png) no-repeat;
    width: 66px;
    height: 142px;
    position: absolute;
    margin-top: 232px;
    margin-left: 152px;
} 
.outf-watch {
    background: url(../img/outfit/wristwatch.png) no-repeat;
    width: 36px;
    height: 72px;
    position: absolute;
    margin-top: 265px;
    margin-left: 272px;
}          
.outf-bracelet {
    background: url(../img/outfit/bracelet.png) no-repeat;
    width: 34px;
    height: 56px;
    position: absolute;
    margin-top: 321px;
    margin-left: 52px;
}
.outf-boot {
    background: url(../img/outfit/boot.png) no-repeat;
    width: 75px;
    height: 53px;
    position: absolute;
    margin-top: 391px;
    margin-left: 146px;
}
.outf-clock {
    background: url(../img/outfit/circular-clock-tool.png) no-repeat;
    width: 51px;
    height: 51px;
    margin-left: 18px;
}
.outf-phone {
    background: url(../img/outfit/smartphone.png) no-repeat;
    width: 31px;
    height: 55px;
    margin-left: 47px;
}
.outf-money {
    background: url(../img/outfit/notes.png) no-repeat;
    width: 55px;
    height: 41px;
    margin-left: 48px;
}
.outf-card {
    background: url(../img/outfit/credit-card.png) no-repeat;
    width: 55px;
    height: 41px;
    margin-left: 41px;
}
.outfit-player-box {
    display: flex;
    height: 569px;
}
.bottom-otf-box {
    margin-top: auto;
    width: 364px;
    height: 80px;
    display: flex;
    align-items: center;
}
.use-outfit{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}
.use-outfit:hover {
    filter: brightness(0) saturate(100%) invert(59%) sepia(82%) saturate(454%) hue-rotate(169deg) brightness(97%) contrast(96%);
}
.main-for-squar-box {
    margin-top: 8px;
    display: flex;
}    
.squar-inv-box {
    width: 68px;
    height: 68px;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.squar-inv-box:not(:last-child){
    margin-right: 8px;
}
.menu-craft-change {
    display: flex;
    margin-top: 10px;
}
.btn-craft {
    width: 174px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 36, 36);
    cursor: pointer;
}
input[type="radio"]:checked + label.btn-craft {
    background-color: #fff;
}
input[type="radio"]:checked + label .bg-color-craft-block {
    filter: brightness(0) saturate(100%);
}
.img-btn-weapon {
    background: url(../img/gun.png) no-repeat;
    width: 60px;
    height: 42px;
}
.img-btn-cutter {
    background: url(../img/cutter.png) no-repeat;
    width: 44px;
    height: 44px;
}
.weapon-player-equip {
    height: 219px;
    width: inherit;
    margin-top: 27px;
    font-family: "RobotoBold";
    font-size: 20px;
    color: #fff;
}
.style-weapon-txt-craft {
    margin-bottom: 33px;
    padding-left: 9px;
    height: 39px;
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}
.style-weapon-txt-craft:hover {
    background-color: rgb(255, 255, 255, 0.102);  
    border-right: 8px solid rgb(72, 185, 242);
}
.liner-weapon-crafting {
    width: 20.5%;
    height: 8px;
    background: #48b9f2;
}
.box-img-equip-weapon {
    width: inherit;
    height: 137px;
    background-color: rgb(255, 255, 255, 0.102);
    display: flex;
    justify-content: center;
    align-items: center;
}
.weapon-m41 {
    background: url("../img/weapon/m41.png") no-repeat;
    width: 252px;
    height: 79px;
}
.main-box-craft-weapon {
    display: flex;
    flex-wrap: wrap;
}
.square-box-craft-weapon {
    width: 62px;
    height: 62px;
    background: rgb(255, 255, 255, 0.051);
    margin-right: 20px;
}
.square-box-craft-weapon:first-child {
    margin-left: 21px;
}
.sqr-wp-left {
    margin-left: 21px;
}
.sqr-wp-top {
    margin-top: 19px;
    margin-bottom: 21px;    
}
.cheked-crafting {
    width: 350px;
    height: 137px;
    background-color: rgb(255, 255, 255, 0.102);
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-fail {
    background: url("../img/fail.png") no-repeat;
    width: 71px;
    height: 72px;
}
.img-succes {
    background: url("../img/succes.png") no-repeat;
    width: 71px;
    height: 71px;
}
.crafting-object-main {
    width: inherit;
    margin-top: 46px;
    display: flex;
    flex-direction: column;
}
.liner-crafting-obj {
    width: 20.5%;
    margin-left: auto;
    height: 8px;
    background: #48b9f2;
}
.sqr-wp-bottom {
    margin-bottom: 21px;
}
.craft-btn-obj {
    width: 350px;
    height: 47px;
    background: rgb(255, 255, 255);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "HACKED";
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    transition: 0.3s;
    
}
.craft-btn-obj:hover {
    background: #000;
    color:#fff;
}
.close-window-craft {
    background: url("../img/close.png") no-repeat;
    width: 29px;
    height: 30px;
    margin-left: auto;
    position: relative;
    top: 21px;
    margin-top: -29px;
    transition: 0.1s ease-out;
    cursor: pointer;
}
.close-window-craft:hover {
    filter: brightness(0) saturate(100%) invert(59%) sepia(82%) saturate(454%) hue-rotate(169deg) brightness(97%) contrast(96%);
}
.trunk-boxes-main {
    width: 62px;
}
.trunk-box {
    width: 62px;
    height: 62px;
    background-color: rgb(72, 185, 242);
    margin-bottom: 9px;
    cursor: pointer;
}
.invetory-trunk {
    margin-bottom: auto;
    margin-right: 9px;
    margin-top: 46px;
}
.content-inventory {
    display: flex;
    flex-direction: row-reverse;
}
.trunk-info-menu {
    width: 330px;
    height: 648px;
    background: rgb(0, 0, 0, 0.702 );
    /* display: flex;
    flex-direction: column; */
    overflow: auto;
} 
.object-box-trunk {
    width: 330px;
    height: 68px; 
    display: flex;
    align-items: center;
}
.object-box-trunk:hover {
    background-color: rgb(255, 255, 255, 0.102);  
} 
.color-blue-btn {
    position: sticky;
    top: 0px;
    margin-top: -30px;
    filter: brightness(0) saturate(100%) invert(59%) sepia(82%) saturate(454%) hue-rotate(169deg) brightness(97%) contrast(96%);
}
.color-blue-btn:hover {
    filter: brightness(0) invert(100%) ;
}
.squar-inv-box:hover::after {
    content: attr(data-title);
    position: absolute;
    width: 68px;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.102);
    font-family:"Roboto";
    font-size: 13px;
    color:#fff;
    text-align: center;
    word-wrap: break-word;
   }