.hmenu__gunshop__navpanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.hmenu__gunshop__navpanel__exitbtn {
    font-family: 'RobotoMedium';
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    padding: 10%;
}

.hmenu__gunshop__navpanel__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    margin-top: 200px;
    overflow-x: auto;
}

.hmenu__gunshop__navpanel__list__item {
    cursor: pointer;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    text-align: center;
    font-family: 'RobotoBold';
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
}

.hmenu__gunshop__navpanel__list__item_active {
    cursor: pointer;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: brown;
    width: 100%;
    text-align: center;
    font-family: 'RobotoBold';
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
}

.hmenu__gunshop__navpanel__banner {
    height: 15%;
    padding: 20%;
    width: auto;
}