@media (max-width: 1000px) and (min-width: 600px) {
    #box {
        zoom: 41.6%;
    }
}

@media (max-width: 1100px) and (min-width: 1001px) {
    #box {
        zoom: 53.3%;
    }
}

@media (max-width: 1280px) and (min-width: 1101px) {
    #box {
        zoom: 66.6%;
    }
}

@media (max-width: 1400px) and (min-width: 1281px) {
    #box {
        zoom: 71.1%;
    }
}

@media (max-width: 1800px) and (min-width: 1401px) {
    #box {
        zoom: 83.3%;
    }
}

@media (max-width: 2000px) and (min-width: 1800px) {
    #box {
        zoom: 100%;
    }
}

@media (max-width: 3000px) and (min-width: 2000px) {
    #box {
        zoom: 100%;
    }
}