@media (max-width: 1000px) and (min-width: 600px) {
    .noty_theme__dednet.noty_bar {
        zoom: 41.65%;
    }
}

@media (max-width: 1100px) and (min-width: 1001px) {
    .noty_theme__dednet.noty_bar {
        zoom: 53.3%;
    }
}

@media (max-width: 1280px) and (min-width: 1101px) {
    .noty_theme__dednet.noty_bar {
        zoom: 66.64%;
    }
}

@media (max-width: 1400px) and (min-width: 1281px) {
    .noty_theme__dednet.noty_bar {
        zoom: 71.12%;
    }
}

@media (max-width: 1800px) and (min-width: 1401px) {
    .noty_theme__dednet.noty_bar {
        zoom: 83.3%;
    }
}

@media (max-width: 2000px) and (min-width: 1800px) {
    .noty_theme__dednet.noty_bar {
        zoom: 100%;
    }
}

@media (max-width: 3000px) and (min-width: 2000px) {
    .noty_theme__dednet.noty_bar {
        zoom: 100%;
    }
}

.noty_theme__dednet.noty_bar {
    margin: 0px 0 11px 0;
    overflow: hidden;
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    width: 335px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noty_theme__dednet.noty_bar .noty_progressbar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px !important;
    width: 100%;
    opacity: 1 !important;

}

.noty_theme__dednet.noty_type__information.noty_bar .noty_progressbar {
    background-color: #F1E14E;
}

.noty_theme__dednet.noty_type__error.noty_bar .noty_progressbar {
    background-color: #F14E4E;
}

.noty_theme__dednet.noty_type__success.noty_bar .noty_progressbar {
    background-color: #4EF172; /*либо #72A7CF;*/
}

.noty_body .icon {
    height: 20px;
    float: right;
    margin-right: 30px;
}

.noty_body .message {
    width: 335px;
    display: flex;
    justify-content: flex-start;
    padding: 10px 5px 10px 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.noty_theme__dednet.noty_bar .noty_body {
    font-size: 15px;
}

.noty_theme__dednet.noty_bar .noty_buttons {
    padding: 0 10px .5em 10px;
}

.noty_body .text {
    width: 494px;
    font-size: 1em;
    line-height: 20px;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

.noty_body .text i {
    float: right;
}

#noty_layout__bottomCenter, #noty_layout__topCenter {
    width: 600px;
}

#noty_layout__topLeft, #noty_layout__topRight,
#noty_layout__bottomLeft, #noty_layout__bottomRight,
#noty_layout__centerLeft, #noty_layout__centerRight,
#noty_layout__center {
    width: 450px;
}
