.accountmenu__content__cards__item {
    display: flex;
    height: 100%;
    width: 33%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.4rem;
    flex-direction: column;
}

.accountmenu__cards__nickname {
    flex-direction: column;
    display: flex;
}

.accountmenu__cards__nickname__text {
    font-family: 'RobotoBold';
    position: absolute;
    margin-top: -12%;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    text-transform: uppercase;
}

.accountmenu__cards__fraction {
    margin-top: 1%;
    display: flex;
    align-items: center;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-bottom: 3%;
}

.accountmenu__cards__fraction__name {
    font-family: 'RobotoLight';
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
}

.accountmenu__cards__fraction__text {
    font-family: 'RobotoBold';
    text-transform: uppercase;
    color: #43b2ea;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    padding-left: 3%;
}

.accountmenu__cards__icline__data {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.accountmenu__cards__icline__data__title {
    font-family: 'RobotoLight';
    margin-right: auto;
    font-size: 1.1rem;
    color: #9e9e9e;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.accountmenu__cards__icline__data__info {
    font-family: 'RobotoBold';
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.accountmenu__cards__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-top: 6%;
}

.accountmenu__cards__stats__item {
    display: flex;
    flex-direction: column;
}

.accountmenu__cards__stats__title {
    font-family: 'RobotoLight';
    letter-spacing: 0.1rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: #d2d2d2;
}

.accountmenu__cards__stats__value {
    font-family: 'RobotoBold';
    font-size: 2rem;
    text-transform: uppercase;
}


.accountmenu__cards__stats__progressbar {
    width: 7rem;
    height: 0.5rem;
    background-color: #484848;
    margin-top: 8%;
    margin-bottom: 8%;
}

.accountmenu__hr {
    background-color: rgba(72, 72, 72, 0.1);
    display: flex;
    height: 4px;
    justify-content: center;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.accountmenu__cards__logindata {
    margin-bottom: 4%;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.accountmenu__cards__logindata__item {
    display: flex;
    flex-direction: column;
}

.accountmenu__cards__logindata__item__title {
    font-family: 'RobotoLight';
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #d2d2d2;
}

.accountmenu__cards__logindata__item__subtitle {
    font-family: 'RobotoBold';
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 5%;
}

.accountmenu__content__cards__status {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    align-items: center;
    margin-top: 5%;
}

.accountmenu__content__cards__status__mcircle {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid #484848;
}

.accountmenu__content__cards__status__circle {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    border: 4px solid #43b2ea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 16px rgba(85, 190, 243, 0.34);
}

.accountmenu__content__cards__status__circle__ttext {
    font-family: 'RobotoLight';
    color: #9e9e9e;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 6%;
}

.accountmenu__content__cards__status__circle__mtext {
    font-family: 'RobotoBold';
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
}

.accountmenu__content__cards__status__circle__btext {
    margin-top: 6%;
    font-family: 'RobotoLight';
    color: #9e9e9e;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.accountmenu__content__cards__title {
    font-family: 'RobotoBold';
    font-size: 2rem;
    text-transform: uppercase;
}

.accountmenu__content__cards__finance {
    display: flex;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    flex-direction: column;
}

.accountmenu__content__cards__finance__card {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
    min-width: 30%;
    border-radius: 0.4rem;
}

.accountmenu__card__icon {
    width: 2.6rem;
    height: auto;
    filter: invert(63%) sepia(12%) saturate(6092%) hue-rotate(174deg) brightness(104%) contrast(84%);
}

.accountmenu__content__cards__finance__container {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accountmenu__content__cards__finance__card__title {
    font-family: 'RobotoLight';
    font-size: 0.84rem;
    color: #9e9e9e;
    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.accountmenu__content__cards__finance__card__subtitle {
    font-family: 'RobotoBold';
    font-size: 1.4rem;
}

.accountmenu__content__cards__medicine {
    display: flex;
    flex-direction: column;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-bottom: 4%;
}

.accountmenu__content__cards__medicine__name {
    font-family: 'RobotoLight';
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #9e9e9e;
    letter-spacing: 0.1rem;
}

.accountmenu__content__cards__medicine__status {
    font-family: 'RobotoBold';
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-right: auto;
}

.accountmenu__content__cards__medicine__status__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.accountmenu__content__cards__medicine__status__container__date {
    display: flex;
    flex-direction: column;
}

.accountmenu__content__cards__medicine__status__container__date__text {
    color: #9e9e9e;
    text-transform: uppercase;
    font-family: 'RobotoLight';
    font-size: 0.9rem;
    letter-spacing: 0.06rem;
}

.accountmenu__content__cards__medicine__info {
    font-family: 'RobotoLight';
    width: 70%;
    text-transform: uppercase;
    color: #d2d2d2;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.accountmenu__content__cards__medicine__container {
    background-image: url('../img/medicine.png');
    background-size: 100%;
}

.accountmenu__content__cards__item__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.02);
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.accountmenu__content__cards__item__list:first-child {
    margin-top: 0;
}

.accountmenu__list {
    overflow-y: auto;
    background-image: url('../img/bg-lines.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.accountmenu__list::-webkit-scrollbar {
  width: 0.8rem;
}
  
.accountmenu__list::-webkit-scrollbar-track {
  background: #303030;
}
  
.accountmenu__list::-webkit-scrollbar-thumb {
  background: #fff;
}

.accountmenu__scrollable {
    overflow-y: auto;
}

.accountmenu__scrollable::-webkit-scrollbar {
   width: 0.8rem;
 }
   
 .accountmenu__scrollable::-webkit-scrollbar-track {
   background: #303030;
 }
   
 .accountmenu__scrollable::-webkit-scrollbar-thumb {
   background: #fff;
}

.accountmenu__content__cards__cars__list {
    
}

.accountmenu__content__cards__item__list__title {
    font-family: 'RobotoLight';
    font-size: 1.2rem;
    color: #d2d2d2;
    text-transform: uppercase;
}

.accountmenu__content__cards__item__list__subtitle {
    font-family: 'RobotoBold';
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
}

.accountmenu__cards__btnreports {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-bottom: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.wrapper__progress {
    position: relative;
    height: auto;
}