.accountmenu__content__cards__blitem {
    display: flex;
    height: 100%;
    width: 66%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.4rem;
    flex-direction: column;
}

.accountmenu__content__cards__header__name {
    font-family: 'RobotoBold';
    font-size: 4rem;
    color: #43b2ea;
    text-shadow: 0 0 16px rgba(85, 190, 243, 0.34);
    text-transform: uppercase;
}

.accountmenu__content__cards__container {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

.accountmenu__cards__question__subtitle {
    
}

.accounmenu__cards__quest__data__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10%;
}

.accountmenu__scrollable {
    overflow-y: auto;
}

.accountmenu__scrollable::-webkit-scrollbar {
   width: 0.8rem;
 }
   
 .accountmenu__scrollable::-webkit-scrollbar-track {
   background: #303030;
 }
   
 .accountmenu__scrollable::-webkit-scrollbar-thumb {
   background: #fff;
}

.accountmenu__cards__quest__active {
    padding-top: 6%;
    padding-bottom: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(136, 136, 136, 0.05);
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding-left: 5%;
    cursor: pointer;
    padding-right: 5%;
}

.accountmenu__cards__quest__subtitle {
    color: #9c9c9c;
    text-transform: uppercase;
    font-family: 'Roboto';
    letter-spacing: 0.12rem;
    font-size: 0.8rem;
    margin-top: 5%;
}

.accountmenu__cards__quest {
    padding-top: 6%;
    padding-bottom: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(136, 136, 136, 0.05);
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
}

.accountmenu__cards__quest__text {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto';
    letter-spacing: 0.12rem;
    font-size: 1.2rem;
}

.accountmenu__cards__quest__active .accountmenu__cards__quest__icon__container {
    width: 2vw;
    height: 2vw;
    padding: 2%;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #70cfff, #43b2ea);
    box-shadow: 0 0 16px rgba(85, 190, 243, 0.34);
}

.accountmenu__cards__quest__icon {
    color: #272727;
    font-size: 2rem;
    font-family: 'Roboto';
}

.accountmenu__cards__quest__icon_done {
    color: #fff;
    font-size: 2rem;
    font-family: 'Roboto';
}

.accountmenu__cards__quest__icon__container {
    width: 2vw;
    height: 2vw;
    padding: 2%;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9c9c9c;
}

.accountmenu__cards__quest__icon__container_done {
    width: 2vw;
    height: 2vw;
    padding: 2%;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #52df75, #078522);
}

.accountmenu__content__cards__questinfo__container {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.accountmenu__content__cards__questinfo__img__container {
    width: 100%;
}

.accountmenu__content__cards__questinfo__header {
    display: flex;
    flex-direction: column;
    margin-top: -4vh;
    padding-left: 3rem;
    margin-bottom: 4vh;
}

.accountmenu__content__cards__questinfo__header__name {
    font-family: 'RobotoBold';
    font-size: 2.5rem;
    text-transform: uppercase;
}

.accountmenu__content__cards__questinfo__header__count {
    margin-top: 2vh;
    font-family: 'RobotoLight';
    letter-spacing: 0.15rem;
    color: #70cfff;
    text-transform: uppercase;
}

.accountmenu__content__cards__questinfo__list__item {
    margin-left: 3rem;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(136, 136, 136, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
}

.accountmenu__content__cards__questinfo__item__name {
    font-family: 'RobotoBold';
    font-size: 1.5rem;
}

.accountmenu__content__cards__questinfo__item__info {
    color: #a4a4a4;
    font-family: 'Roboto';
    margin-top: 2%;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    line-height: 1.5;
    margin-bottom: 4%;
}

.accountmenu__content__cards__questinfo__item__btmdata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accountmenu__content__cards__questinfo__item__reward {
    color: #50bc90;
    font-family: 'RobotoBold';
    font-size: 1.4rem;
}